<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://connectedvehiclesdb.documents.azure.com:443/" />
    <add key="PrimaryKey" value="aPuaVySJ4piErT4e0MBOjL1dLHJpF3fIpF4SSzMDjDlJ4bhTK7qfHzKizmOGasiI0NznpenSeLU0LbfDsvcU6A==" />
  </appSettings>
</configuration>